<% provide(:title, "Schedule") %>

<h1>Schedule</h1>


<div class="btn-group">
  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
    Helpdesk
    <span class="caret"></span>
  </a>
<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
  <li><a tabindex="-1" href="#">Helpdesk 1</a></li>
  <li><a tabindex="-1" href="#">Helpdesk 2</a></li>
  <li><a tabindex="-1" href="#">Helpdesk 3</a></li>
  </ul>
</div>


<h2>Helpdesk</h2>
<table>
	<tr>
	<%current_time = Time.now.beginning_of_week
	for i in 0..6 %>
	<td> <%= current_time.strftime("%a, %b %d ") %> </td>
	<%current_time = current_time.tomorrow()
	end %>
	</tr>

	<% for shift in helpdesk.get_lab_shifts %>
<ul><%=shift.starttime.strftime("%A %b %e from %R to ")%>
<%end%>
</table>