<% provide(:title, "Schedule") %>

<h1>Schedule</h1>

<h2>Helpdesk</h2>
<table>
	<tr>
	<%current_time = Time.now.beginning_of_week
	for i in 0..6 %>
	<td> <%= current_time.strftime("%a, %b %d ") %> </td>
	<%current_time = current_time.tomorrow()
	end %>
	</tr>

	lab 

	for i in get_lab_shifts


</table>