<% provide(:title, 'Create') %>
<h1>Create</h1>

<div class="row">
  <div class="span6 offset2">
    <%= form_tag("/newuser", :method => "get") do %>
      <%= label_tag(:username, "Username") %>
      <%= text_field_tag(:username) %>
      <%= submit_tag("Retrieve", {class: "btn btn-large btn-primary"}) %>
    <% end %>
  </div>
</div>
