<% if logged_in? %>
<!-- Show logged in page.  -->
<h1>User Home</h1>

<div class="row">

<div class="span6 widget">
<h2>Upcoming Shifts:</h2>
<%for shift in current_user.get_next_week_user_shifts %>
<ul><%=shift.starttime.strftime("%A %b %e from %R to ")%> <%=shift.endtime.strftime("%R")%> </ul>
<%end%>
</div>

<div class="span3 offset 9 widget">

<%= render 'shared/time_clock', the_model: @time_worked %>

</div>


</div>
<% else %>
<%= render :template => 'sessions/new' %>
<% end %>
